/* General stylign */

.c { clear:both; }
.floatleft { float:left; }
.floatright { float:right; }

/* Typography */

a { text-decoration:none;color:#000;font-family: "futura-pt", Arial, sans-serif; }
a:hover { text-decoration:underline; }
h1, h2, h3, h4, h5, a , p { font-family:"futura-pt",Helvetica Neue,Arial,Sans-Serif;color:#000; }
.para { font-size:15px; }
.aligncenter { text-align:center; }
.upperc { text-transform:uppercase }
h1{ font-size:46px;font-weight:900;margin-bottom:15px; }
h2 { font-size:28px;font-weight:900;margin-bottom:15px; }
h3 { font-size:18px;font-weight:200; }
h4 { font-size:18px;font-weight:200; }
h5 { font-size:15px;font-weight:900;margin:10px 0px 10px 0px; }
hr { color:#000; }
.underline { text-decoration:underline; }
.titlelinks { width:720px;margin:0 auto;padding:0px 0px 66px 0px; }
.titlelink { width:239px;float:left;text-align:center;font-size:18px;color:#000; }
.titlelink a { font-size:18px;color:#000; }
.thirdimgs1 p { text-align:center; }
.halfimgs1 p { text-align:center; }
h4.aligncenter a { text-decoration:underline; }

/* Layouts and grids */

.thirdimgs1 { width:247px; }
.thirdimgs2 { width:485px; }
.thirdimgs3 { width:238px; }
.thirdimgs1, .thirdimgs2, .thirdimgs3 { padding-bottom:40px;padding-top:30px; }
.halfimgs1 { width:486px; }
.halfimgs2 { width:486px; }
.halfimgs1, .halfimgs2 { padding-bottom:40px; }

/* Images */

img.center { display: block; margin-left: auto; margin-right: auto; }